<%- include('includes/start'); -%>
</head>

<%- include('includes/navigation'); -%>

<h1>My products</h1>
<p> list of all products </p>
<% if users && users.length > 0 { %>
<% for( const user of users ) { %>
<ul class="users-list">
  <li class="users__item">
    <%=user.name %>
  </li>
</ul>
<% } %>
<% } else {%>
<span> No users </span>
<% } %>

<%- include('includes/end'); -%>