<%- include('includes/start') %>
</head>

<%- include('includes/navigation') %>
<form class="user-form" action="/admin/users" method="POST">
  <div class="form-control">
    <label for="user">User</label>
    <input type="text" name="name" id="userInput" />
    <button type="submit"> Add User </button>
  </div>
</form>
<% if (users && users.length > 0) { %>
<%   for( const user of users ) { %>
<ul class="users-list">
  <li class="users__item">
    <%=user.name %>
  </li>
</ul>
<%   } %>
<% }%>

<%- include('includes/end') %>