extends layouts/master

block content
    h1 My producs
    p list of all products
    if users && users.length > 0 
      each user in users  
        ul(class="users-list")
          li(class="users__item") #{user.name}
    else
      span No users