<main>
  <form class="product-form" action="/admin/users" method="POST">
    <div class="form-control">
      <label for="user">User name</label>
      <input type="text" name="name" id="name">
    </div>
    <button class="btn" type="submit">Add user</button>
  </form>
</main>