<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title My Express App
    link(rel="stylesheet",href="/css/main.css")
  body
    header.header
      nav.header__nav
        ul.header__item-list
          li.header__item
            a(href="/") Main
          li.header__item.active
            a(href="/admin/users") Add user
    main
      h1 404 Not found!! 