extends layouts/master
block styles
  link(rel="stylesheet",href="/css/product.css")
  link(rel="stylesheet",href="/css/forms.css")

block content
  form(class="product-form",action="/admin/users",method="POST")
    div(class="form-control")
      label(for="user") User
      input(type="text",name="name",id="userInput")
    button(type="submit") Add User