extends layouts/master

block content
  form(class="user-form",action="/admin/users",method="POST")
    div(class="form-control")
      label(for="user") User
      input(type="text",name="user",id="userInput")
    button(type="submit") Add Product
  if users && users.lenght > 0 
    each user in users  
      ul(class="users-list")
        li(class="users__item") #{user.name}