<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a href="/" class="<%= req.url === '/' ? 'active' : '' %>">Main</a>
      </li>
      <li class="main-header__item">
        <a href="/admin/users" class="<%= req.url === '/users' ? 'active' : '' %>">Add user</a>
      </li>
    </ul>
  </nav>
</header>